.titulo{
	text-align: center;
}

.container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 400px; /* Define largura maxima */
	margin: 15px;
	font-family: arial;
}

.tituloJogo{
	font-size: 22px;
	margin-left: 2%;
}

.imgJogo{
	max-height: 300px;
	width: 100%;
}

.descricaoJogo2, .descricaoJogo3, .descricaoJogo4{
	height: 126px;
}


.botao1, .botao2, .botao3, .botao4{
	border: none; /* Elimina as bordas */
	padding: 12px; /* Aumenta  tamanh do botao */
	color: #ffffff;
	background-color: #0d0d0d;
	width: 100%; /* Botao preenche todo  card */
	font-size: 18px;
	transition: 0.8s;
}

.botao1:hover, .botao2:hover, .botao3:hover, .botao4:hover{
	cursor: pointer;
}

.botao1{
	background-color: #ff0000;
	color: #ffffff;
}

.botao2{
	background-color: #0000e6;
	color: #ffffff;
}

.botao3{
	background-color: #cc0000;
	color: #ffffff;
}

.botao4{
	background-color: #ac00e6;
	color: #ffffff;
}

.botao1:hover{
	background-color: #ffffff;
	color: #ff0000;
}

.botao2:hover{
	background-color: #ffffff;
	color: #0000e6;
}

.botao3:hover{
	background-color: #ffffff;
	color: #cc0000;
}

.botao4:hover{
	background-color: #ffffff;
	color: #ac00e6;
}


.descricaoJogo1, .descricaoJogo2, .descricaoJogo3, .descricaoJogo4, .texto{
	margin-right: 5%;
	margin-left: 5%;
}