.titulo{
	text-align: center;
}

.container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 400px; /* Define largura maxima */
	margin: 15px;
	font-family: arial;
}

.tituloJogo{
	font-size: 22px;
	margin-left: 2%;
}

.imgJogo{
	max-height: 300px;
	width: 100%;
}



.descricaoJogo1, .descricaoJogo1, .descricaoJogo1, .descricaoJogo1, .texto{
	margin-right: 1%;
	margin-left: 1%;
}